.top{
    background-size: cover;
    background-position: center;
    height: 674px;
    position: relative;
    margin-top: 78px;
    background-image: url(../image/top-mv_sp.png);
    @include overTab{
        background-image: url(../image/top-bg.png);
    }
    .top-title{
        font-size: 50px;
        color: cl(white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%)
        translateY(-50%);
        text-align: center;
        width: 100%;
        @include overTab{
            
        }
    }
}